$bgColor:           #4A90E2;
$whiteColor:        #FFF;
$borderColor:       #979797;
$textColor:         $whiteColor;
$textPlaceholderColor: #9B9B9B;
$buttonColor:      #F5A623;
$ikonColor:        #4A90E2;
$inputColor:       $whiteColor;

$fontFamily:        'Open Sans', Helvetica, Tahoma, Arial, sans-serif;
$fontWeight: 400;
$fontSizeBase: 10px;
$fontSizeH2: 24px;
$fontPlaceholder: 14px;
$fontButton: 20px;

.travelpayoutsjs-bookpage {
  all: initial !important;
	width: 100% !important;
	display: block !important;
	box-sizing: border-box !important;
	padding: 6px 20px 20px 15px !important;
	background-color: $bgColor !important;
	font-size: $fontSizeBase !important;
	font-family: $fontFamily !important;
	color: $textColor !important;
}
.travelpayoutsjs-title {
  all: initial !important;
	display: block !important;
	box-sizing: border-box !important;
	width: 100% !important;
	margin-bottom: 10px !important;
	word-break: break-word !important;
	font-size: $fontSizeH2 !important;
	font-family: $fontFamily !important;
	text-align: left !important;
	color: $textColor !important;
}
.travelpayoutsjs-content {
  all: initial !important;
	display: table !important;
	box-sizing: border-box !important;
	border-collapse: separate !important;
	text-align: center !important;
}
.travelpayoutsjs-info {
  all: initial !important;
	display: block !important;
	box-sizing: border-box !important;
	width: 100% !important;
	word-break: break-word !important;
	text-align: left !important;
	font-size: $fontSizeBase !important;
	font-family: $fontFamily !important;
	color: $textColor !important;
}
.travelpayoutsjs-form {
  all: initial !important;
	display: block !important;
	box-sizing: border-box !important;
	width: 100% !important;
  text-align: center !important;
}
.travelpayoutsjs-form-item {
  all: initial !important;
	display: inline-block !important;
	box-sizing: border-box !important;
	margin-right: 17px !important;
  vertical-align: bottom !important;
	margin-bottom: 20px !important;
	&:last-child {
    vertical-align: bottom !important;
		margin: 0 !important;
	  margin-bottom: 20px !important;
	}
}
.travelpayoutsjs-input {
  all: initial !important;
	display: block !important;
	box-sizing: border-box !important;
	width: 100% !important;
	height: 40px !important;
	text-align: left !important;
	border-width: 0 !important;
	padding: 10px !important;
  background-color: $inputColor !important;
	background-image: url('data:image/svg+xml;utf8,<svg width="15" height="17" viewBox="0 0 15 17" xmlns="http://www.w3.org/2000/svg"><path d="M2 7.998s.002 7.25 0 7.002h11.003c-.002 0-.006-7-.006-7L2 7.997zM8 11h4v3H8v-3zm7-5v9c0 1.105-.895 2-2 2H2c-1.105 0-2-.895-2-2V6h15zm-3-4V1c0-.552-.448-1-1-1h-1c-.552 0-1 .448-1 1v1H6V1c0-.552-.448-1-1-1H4c-.552 0-1 .448-1 1v1H2C.895 2 0 2.894 0 4h15c0-1.105-.895-2-2-2h-1z" fill="#4990E2" fill-rule="evenodd"/></svg>') !important;
	background-repeat: no-repeat !important;
	background-position: 95% center !important;
	font-size: $fontPlaceholder !important;
	&:hover {
		cursor: pointer !important;
	}
border-radius: 2px !important;
	&[type="text"]:focus {
		outline: 2px solid $buttonColor !important;
		outline-offset: -1px !important;
	}
	&--button {
		background-image: none !important;
		border-color: $buttonColor !important;
		background-color: $buttonColor !important;
		text-align: center !important;
		color: $textColor !important;
		padding: 0 !important;
		text-transform: uppercase !important;
		font-size: $fontButton !important;
		font-weight: $fontWeight !important;
    box-shadow: inset 0px -2px 5px -2px #000 !important;
	}
	&--button:hover {
    opacity: 0.9 !important;
		cursor: pointer !important;
	}
	&--button:active {
    box-shadow: none !important;
	}
}

.travelpayoutsjs-bookpage.travelpayoutsjs-bookpage--m {
	max-width: 768px !important;
	padding: 6px 20px 20px 15px !important;
	.travelpayoutsjs-content {
		display: block !important;
	}
	.travelpayoutsjs-info {
		margin-bottom: 10px !important;
	}
	.travelpayoutsjs-form-item {
    display: inline-block !important;
		width: 220px !important;
		&:last-child {
			margin-left: 13px !important;
			width: 240px !important;
		}
	}
}

.travelpayoutsjs-bookpage.travelpayoutsjs-bookpage--s {
	max-width: 440px !important;
	padding: 12px 20px 20px 15px !important;
	.travelpayoutsjs-content {
		display: block !important;
	}
	.travelpayoutsjs-info {
		margin-bottom: 10px !important;
	}
	.travelpayoutsjs-form-item {
		width: 48.5% !important;
		margin: 0 !important;
		&:first-child {
			margin-right: 2% !important;
		}
		&:last-child {
			margin-top: 20px !important;
			width: 100% !important;
		}
	}
}

.travelpayoutsjs-bookpage.travelpayoutsjs-bookpage--xs {
	max-width: 286px !important;
	padding: 15px 20px 20px 15px !important;
	.travelpayoutsjs-content {
		display: table !important;
	}
	.travelpayoutsjs-title {
		margin-bottom: 15px !important;
	}
	.travelpayoutsjs-info {
		display: table-footer-group !important;
	}
	.travelpayoutsjs-form-item {
		display: block !important;
		width: 100% !important;
		margin: 0 !important;
		margin-bottom: 20px !important;
		&:last-child {
			display: block !important;
			width: 100% !important;
			margin-bottom: 15px !important;
		}
	}
}
.travelpayoutsjs-bookpage.travelpayoutsjs-bookpage--l {
	width: 100% !important;
	padding: 6px 20px 20px 15px !important;
	.travelpayoutsjs-content {
		display: table !important;
	}
	.travelpayoutsjs-title {
		margin-bottom: 15px !important;
	}
	.travelpayoutsjs-info {
		display: table-cell !important;
		vertical-align: bottom !important;
		width: 304px !important;
		padding-top: 20px !important;
		border-right: 30px solid transparent !important;
	}
	.travelpayoutsjs-form {
		display: table-cell !important;
		width: 680px !important;
	}
	.travelpayoutsjs-form-item {
		width: 200px !important;
		&:last-child {
			width: 240px !important;
			margin-right: 0 !important;
		}
	}
}